---
---
@import "{{ site.theme }}";

/* Custom CSS to hide the "View on GitHub" button */
.btn {
  display: none !important;
}

/* Custom CSS to hide the footer text */
footer.site-footer {
  display: none !important;
}
